body {
  background-color: burlywood;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
footer {
  text-align: center;
}
footer a {
  margin: 0 10px;
  color: brown;
}
.croisant-photo {
  max-width: 100%;
  border-radius: 10px;
  margin: 30px auto;
  display: block;
}
